@charset "UTF-8";
/*========================Home 2==================================================================================== */

/*========================Home2==================================================================================== */
#main{ width: 100%; height: 720px;    
background: url(../../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/bg.jpg', sizingMethod='scale');
}
#main-slide{ height: 500px; margin-top: 95px;}
#slide-title{width: 390px; height: 170px;position: absolute;margin-left: 438px; margin-top: 90px;}

#slide-title h2{font-family: 'AvenirLTStd95Black'; font-size: 30px; color: #fff; text-transform: uppercase;text-align: left; width: 100%; float: left; margin-left: 25px;line-height: 15px;}
#slide-title h1{font-family: 'AvenirLTStd95Black'; font-size: 36px; color: #fff; background-color: #00a8c8; width: 351px; height: auto;float: left;margin-left: 25px; text-align: center;}
#slide-title h3{font-family: 'AvenirLTStd95Black'; font-size: 18px; color: #fff; text-transform: uppercase;text-align: left; width: 100%; float: left; margin-left: 25px;line-height: 15px;}

#read-more{ width: 97px; height: 25px; background: url(../../img/icon/arrow.png) no-repeat #000 right; float: left;margin-left: 25px;}
#read-more p{font-family: 'AvenirLTStd95Black'; font-size: 10px; color: #fff; text-align: left; text-transform: uppercase; margin-top: 3px; margin-left: 5px;}

#girl{ position: absolute;margin-top: 18px; margin-left: 198px;}
#what{ width: 316px; height: 162px; background-color: #ffb400;  margin-top: 338px;float: left;padding: 60px 30px 30px 30px;}
#what h2{  font-family: 'AvenirLTStd65Medium'; font-size: 18px; color: #fff; text-transform:uppercase; text-align: left;}
#what h2 > span{font-family: 'AvenirLTStd95Black'; font-size: 32px; color: #fff; text-transform: uppercase;}
#profile{width: 316px; height: 162px; background-color: #8ec000; margin-top: 338px;float: left;padding: 60px 30px 30px 30px;}
#profile h2{ font-family: 'AvenirLTStd65Medium'; font-size: 18px; color: #fff; text-transform:uppercase; text-align: left;}
#profile h2 > span{font-family: 'AvenirLTStd95Black'; font-size: 32px; color: #fff; text-transform: uppercase;}


#come{ width: 316px;height: 162px; background-color: #006eb7; margin-top: 338px;float: left;}




#box-submenu ul{ height: 61px; margin-top: 20px;}

#box-submenu ul > li { width: 61px; height: 61px; margin-right: 14px; float: left;}